.icon-bars{
	position: relative;
	display: inline-block;
	height: 16px;
	width: 40px;
}
.icon-bars::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 4px;
	width: 100%;
	background-color: var(--white);
}
.icon-bars::after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 4px;
	width: 100%;
	background-color: var(--white);
}