.about__h2{
	font-weight: var(--bold);
	margin-bottom: calc(var(--m1) - var(--m4));
}

.about__h2 span:nth-child(1){
	font-weight: var(--regular);
}

.about__h2 span:nth-child(2){
	display: block;
	margin-left: 2.8rem;
}

.about__copy{
	max-width: 400px;
	color: var(--light);
	font-family: var(--open);
}

.about__card-mobile{
	display: none;
}


/*  About 1024px  */
@media (max-width: 1024px) {
	.about__h2 span:nth-child(2){
		margin-left: 2.4rem
	}

	.about__copy{
		margin-left: 2.4rem;
	}

	.about__card-mobile{
		display: inline-block;
		position: absolute;
		top: var(--m2);
		left: var(--m4);
		color: #fff;
		font-family: var(--open);
		overflow: hidden;
	}

	.about__card-mobile::before{
		position: absolute;
		content: '';
		bottom: 0;
		width: 100%;
		height: 1px;
		background-color: var(--white);
		transform: translateX(-100%);
		transition: var(--3s-ease);
	}

	.about__card-mobile[data-show="true"]::before{
		transform: translateX(0);
	}

	.about__card-mobile:nth-child(2){
		top: inherit;
		left: inherit;
		right: var(--m4);
		bottom: var(--m2);
	}

	.about__card-mobile:nth-child(2)::before{
		transform: translateX(100%);
	}

	.about__card-mobile:nth-child(2)[data-show="true"]::before{
		transform: translateX(0);
	}
}


/*  About 768px  */
@media (max-width: 768px) {
	.about__h2 span:nth-child(2){
		margin-left: 1.9rem;
	}

	.about__copy{
		margin-left: 1.9rem;
	}
}


/*  About 576px  */
@media (max-width: 576px) {
	.about-card{
		height: 330px;
	}
}


/*  About 400px  */
@media (max-width: 400px) {
	.about__h2 span:nth-child(2) {
		display: inline-block;
		margin-left: 0;
	}
}
