.footer{
	padding: var(--p3) 0 var(--p2) 0;
	color: var(--light-2);
	font-family: var(--open);
}

.footer__copy span{
	color: var(--white);
}

.footer__top{
	color: var(--light);
	font-weight: var(--normal);
}