.cursor{
  --size: 96px;
  --y: -100px;
  --x: -100px;
  position: fixed;
  top: calc(var(--size) / -2);
  left: calc(var(--size) / -2);
  transform: translate(var(--x), var(--y)) translateZ(0);
  will-change: transform;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--size);
  width: var(--size);
  pointer-events: none;
  transition: none;
  z-index: 10;
  mix-blend-mode: difference;
}

.cursor__inner{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 40%;
  border: 1px solid var(--white);
  border-radius: 50%;
  transition: .2s ease-out;
}

.cursor__point{
  --size: 4px;
  width: var(--size);
  height: var(--size);
  background-color: var(--white);
  border-radius: 50%;
  transition: .2s ease-out;
}

.cursor.is-clicked .cursor__inner{
  transform: scale(1.05);
  transition: .1s;
}

.cursor.is-clicked .cursor__point{
  transform: scale(.6);
}

.cursor.is-hidden .cursor__inner{
  opacity: 0;
  transition: .1s;
}

.cursor.is-action{
  mix-blend-mode: normal;
}

.cursor.is-action .cursor__inner{
  width: 100%;
  height: 100%;
}

.cursor.is-action .cursor__point{
  --size: 90px;
  position: relative;
  transition: .2s ease-out;
}

.cursor.is-action .cursor__point::before{
  content: attr(data-cursor);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--black);
  background-color: var(--white);
  font-family: var(--open);
  font-size: var(--text-small);
  white-space: nowrap;
}

.cursor.is-full .cursor__inner{
  width: 100%;
  height: 100%; 
}

.cursor.is-full .cursor__point{
  --size: 100px;
}

.cursor.is-link .cursor__inner{
  width: 80%;
  height: 80%;
}

.cursor.is-link .cursor__point{
  --size: 0px;
}