.header{
	position: sticky;
	top: 0;
	height: var(--header-height);
	width: 100%;
	transition: var(--3s-ease) transform;
	z-index: var(--z2);
	pointer-events: none;
	transform: translateY(-100%);
	transition: var(--7s-ease) 3s;
}

.header[data-show="true"]{
	transform: translateY(0);
}

.nav{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 0 var(--p3);
	width: 100%;
	height: 100%;
}

.nav__logo{
	font-size: var(--h5);
	font-weight: var(--bold);
	transition: var(--3s-ease) letter-spacing;
	pointer-events: auto;
}

.nav__logo::after{
	content: 'osneth';
	transform: translateX(-10px);
	opacity: 0;
	transition: var(--3s-ease);
}

.nav__logo.active::after{
	transform: translateX(0px);
	opacity: 1;
}

.nav__toggle{
	position: relative;
	display: flex;
	align-items: center;
	padding: .5rem;
	color: var(--light);
	overflow: hidden;
	z-index: var(--z-toggle);
	pointer-events: auto;
}

.menu-text{
	position: relative;
	margin-right: var(--p4);
	transition: var(--3s-ease);
}

.menu-text::before{
	content: attr(data-hover);
	position: absolute;
	bottom: 150%;
}

.nav__toggle:hover .menu-text{
	transform: translateY(150%);
}

.icon-bars, .icon-bars::before, .icon-bars::after{
	transition: var(--3s-ease) transform;
}

.icon-bars.min::before{
	transform: translateY(6px);
}
.icon-bars.min::after{
	transform: translateY(-6px);
}

.nav__menu{
	position: absolute;
	bottom: 100%;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--m3);
	justify-content: center;
	height: 100vh;
	width: 100%;
	background-color: var(--black);
	transition: var(--5s-ease);
	pointer-events: auto;
}

.nav__menu.show{
	transform: translateY(100%);
}

.nav__link{
	position: relative;
	font-size: var(--h1);
	font-weight: var(--bold);
	overflow: hidden;
	transform: translateX(-100%);
	opacity: 0;
	transition: var(--3s-ease) var(--delay);
}

.nav__menu.show .nav__link{
	transform: translateX(0);
	opacity: 1;
}

.nav__menu.delay{
	transition-delay: .3s;
}

.nav__link::after{
	content: '';
	position: absolute;
	right: 100%;
	bottom: 0;
	width: 50%;
	height: 10px;
	background-color: #fff;
	transition: var(--3s-ease);
}

.nav__link:hover::after{
	transform: translateX(100%);
}

.nav__footer{
	position: absolute;
	bottom: 0;
	padding: var(--p4);
	width: 100%;
}

.nav__social{
	transform: translateY(100%);
	opacity: 0;
	transition: var(--3s-ease) .5s;
}

.nav__menu.show .nav__social{
	transform: translateY(0);
	opacity: 1;
}

.nav__social-link{
	font-weight: var(--bold);
	overflow: hidden;
	margin-right: var(--m3);
}

.nav__social-link .animated{
	position: relative;
	transition: var(--3s-ease);
}

.nav__social-link .animated:hover{
	transform: translateY(100%);
}

.nav__social-link .animated::after{
	content: attr(data-hover);
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(-100%);
}

.nav__social-caption{
	display: inline-block;
	color: var(--light);
	font-family: var(--open);
	margin-right: var(--m4);
}

.line-div{
	width: 30px;
	height: 1px;
	margin: 0 1rem;
	background-color: white;
}


/*  Header 768px  */
@media (max-width: 768px) {
	.nav__social-caption{
		display: block;
		margin-bottom: var(--m4)
	}
}


/*  Header 576px  */
@media (max-width: 576px) {
	.nav__social-caption{
		display: block;
		margin-bottom: 0; 
	}

	.nav__social-link{
		margin-top: var(--m4)
	}
}