.work .container{
	overflow: hidden;
}

.work__h2{
	font-weight: var(--regular);
	margin-bottom: var(--m1);
}

.work__h2 span{
	font-weight: var(--bold);
}

.work__wrapper{
	display: flex;
	flex-direction: column;
	gap: calc(var(--m1) - .5rem);
}

.work-card__h3{
	display: block;
	margin-bottom: var(--m4);
}

.work-card__copy{
	margin-left: var(--m4);
	max-width: 500px;
	color: var(--light);
	font-family: var(--open);
}

.work-card__figure{
	position: relative;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	margin-top: var(--m4);
	width: 100%;
	max-height: 600px;
	aspect-ratio: 19 / 6;
	background-color: var(--light-3);
	background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
	opacity: 0;
	transition: var(--5s-ease);
}

.work-card__figure[data-show="true"]{
	opacity: 1;
}

.work-card:nth-child(2n) .work-card__figure{
	transform: translateX(10%);
}

.work-card:nth-child(2n) .work-card__figure[data-show="true"]{
	transform: translateX(0);
}

.work-card:nth-child(2n) .work-card__figure{
	justify-content: flex-start;
}

.work-card:nth-child(1) .work-card__figure{
	background-image: url(../../assets/work/work-1.jpg);
}

.work-card:nth-child(2) .work-card__figure{
	background-image: url(../../assets/work/work-2.jpg);
}

.work-card:nth-child(3) .work-card__figure{
	background-image: url(../../assets/work/work-3.jpg);
}

.work-card:nth-child(4) .work-card__figure{
	background-image: url(../../assets/work/work-4.jpg);
}

.work-card__tags{
	display: block;
	margin: var(--m4) 0 0 var(--m4);
}

.tag{
	padding: .3rem .6rem .2rem .6rem;
	border: 1px solid var(--light);
	border-radius: 20px;
	color: var(--white);
	font-size: var(--text-small);
	transition: var(--3s-ease);
}

.tag:hover{
	border-color: var(--white);
	color: var(--white);
}

.work-card:nth-child(2n) .work-card__h3{
	text-align: right;
}

.work-card:nth-child(2n) .work-card__copy{
	margin: 0 var(--m4) 0 auto;
	text-align: right;
}

.work-card:nth-child(2n) .work-card__tags{
	margin: var(--m4) var(--m4) 0 auto;
	text-align: right;
}

.work-card__mobile{
	display: none;
}


/*  Work 1024px  */
@media (max-width: 1024px) {
	.work__h2 span:nth-child(2){
		margin-left: 10rem;
	}

	.work-card__mobile{
		position: relative;
		display: inline-block;
		margin: 0 var(--p4) var(--p4) 0;
		font-family: var(--open);
		font-weight: var(--regular);
		color: var(--white);
		overflow: hidden;
		transition: var(--3s-ease) .7s;
	}

	.work-card__mobile::before{
		content: '';
		position: absolute;
		bottom: 0;
		height: 1px;
		width: 100%;
		background-color: var(--white);
		transform: translateX(100%);
		transition: var(--3s-ease) .5s;
	}

	.work-card__mobile[data-show="true"]::before{
		transform: translateX(0);
	}

	.work-card:nth-child(2n) .work-card__mobile{
		margin: 0 0 var(--p4) var(--p4);
	}

	.work-card:nth-child(2n) .work-card__mobile::before{
		transform: translateX(-100%);
	}

	.work-card:nth-child(2n) .work-card__mobile[data-show="true"]::before{
		transform: translateX(0);
	}
}


/*  Work 768px  */
@media (max-width: 768px) {
	.work__h2 span:nth-child(2){
		margin-left: 7.7rem;
	}

	.work-card {
		width: 100%;
	}

	.work-card__body{
		margin: 0 var(--m4) 0 var(--m4);
	}
}


/*  Work 576px  */
@media (max-width: 400px) {
	.work__h2 span:nth-child(2){
		display: inline-block;
		margin-left: 0;
	}
}
