:root{ /*  Colors  */

/*  Primary  */
	--black: hsla(240, 32%, 2%, 1);
	--white: hsla(0, 0%, 100%, 1);

/*  Secondary  */
	--shine: hsla(240, 10%, 88%, 1);
	--light: hsla(240, 10%, 60%, 1);
	--light-2: hsla(240, 10%, 30%, 1);
	--light-3: hsla(240, 10%, 10%, 1);
}


:root{ /*  Typography  */
	--sync: 'Syncopate', sans-serif;
	--open: 'Open Sans', sans-serif;
}


:root{ /*  Font Sizes  */
	--h1: 5rem;
	--h2: 3.6rem;
	--h3: 2.6rem;
	--h4: 1.9rem;
	--h5: 1.3rem;
	--text-small: 0.725rem;
}

@media (max-width: 1024px) {
	:root{
		--h1: 6.5vw;
		--h2: 3.1rem;
		--h3: 2.3rem;
		--h4: 1.7rem;
		--h5: 1.3rem;
	}
}

@media (max-width: 768px) {
	:root{
		--h2: 2.4rem;
		--h3: 1.9rem;
		--h4: 1.5rem;
		--h5: 1.25rem;
	}
}

@media (max-width: 576px) {
	:root{
		--h1: 3.5rem;
	}
}

@media (max-width: 400px) {
	:root{
		--h1: 2.4rem;
		--h2: 2rem;
		--h3: 1.7rem;
		--h4: 1.4rem;
		--h5: 1.2rem;
	}
}


:root{ /*  Font Weight  */
	--regular: 300;
	--bold: 700;
}


:root{ /*  Margins & Paddings  */

/*  Padding  */
	--p1: 9.25rem;
	--p2: calc(var(--p1) / 2);
	--p3: calc(var(--p2) / 2);
	--p4: calc(var(--p3) / 2);

/*  Margin  */
	--m1: 9.25rem;
	--m2: calc(var(--m1) / 2);
	--m3: calc(var(--m2) / 2);
	--m4: calc(var(--m3) / 2);
}


:root{ /*  Z-Index  */
	--z1: 1;	
	--z2: 2;	
	--z3: 3;
	--z4: 4;
	--z5: 5;
}


:root{ /*  Z-Index Of Elements  */
	--z-toggle: var(--z1);
	--z-modal: var(--z2);
}


:root{ /*  Header Height  */
	--header-height: 4rem;
}


:root{ /*  Transitions  */
	--3s-ease: .3s ease;
	--5s-ease: .5s ease;
	--7s-ease: .7s ease;
}


:root{ /*  Container Padding  */
	--container-padding: var(--p3);
}

@media (max-width: 576px) {
	:root{
		--container-padding: var(--p4);
	}
}