@import './css/root/root.css';
@import './css/sections/header.css';
@import './css/sections/home.css';
@import './css/sections/work.css';
@import './css/sections/about.css';
@import './css/sections/greet.css';
@import './css/sections/contact.css';
@import './css/sections/footer.css';
@import './css/components/loader.css';
@import './css/components/cursor.css';
@import './css/components/scrollbar.css';
@import './css/icons/icons.css';
@import './css/icons/icons.css';
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*======================================
=            GENERAL STYLES            =
======================================*/
*, ::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: none;
}

*::selection{
  color: var(--black);
  background-color: var(--white);
}

body{
  font-family: var(--sync);
  background: var(--black);
  color: var(--white);
  overflow-x: hidden;
}

body.disable-scroll{
  overflow-y: hidden;
}

h1{
  font-size: var(--h1);
  text-transform: uppercase;
}

h2{
  font-size: var(--h2);
  text-transform: lowercase;
}

h3{
  font-size: var(--h3);
  text-transform: lowercase;
}

h4{
  font-size: var(--h4);
  text-transform: lowercase;
}

h5{
  font-size: var(--h5);
  text-transform: lowercase;
}

a{
  display: inline-flex;
  color: var(--white);
  font-weight: var(--bold);
  text-decoration: none;
  cursor: none;
}

span{
  display: inline-block;
}

button{
  color: var(--white);
  background-color: transparent;
  border: 0;
  cursor: none;
}

ul{
  list-style: none;
}

img{
  display: inline-block;
}

.section{
  padding: var(--p1) 0;
  overflow: hidden;
}

.section__header{
  display: flex;
  align-items: center;
  margin: 0 var(--m3) var(--m2) var(--m3);
  color: var(--shine);
}

.section__header span{
  font-weight: var(--bold);
}

.section__header .line{
  margin: 0 var(--m4);
  width: 100%;
  height: 1px;
  background-color: var(--light-3);
}

.container{
  max-width: 1440px;
  padding: 0 var(--container-padding);
  margin: 0 auto;
}